/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  /* Change the background color to your preference */
    color: white; /* Change the text color to your preference */
    padding: 10px 20px;
  }
  
  .navbar-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  
  /* Add hover effect if needed */
  .navbar-links a:hover {
    text-decoration: underline;
  }
  